:root{
  --color1:#85bbf1;
  --color2:rgb(11, 47, 59);

  --facebook:#1877f2;
  --github: #fff;
  --twitter : #1da1f2;
  --youtube: #ff0000;
  --linkedin: #0077b5;

  --shadow1: 0 2px 3px var(--color1);
  --shadow2: 0 2px 3px #333;
  --transition: all 0.3s;
}
.facebook{
  color: var(--facebook);
}
.twitter{
  color: var(--twitter);
}
.github{
  color: var(--github);
}
.youtube{
  color: var(--youtube);
}
.linkedin{
  color: var(--linkedin)
}

* ,*::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  padding: 0 30px;
}
a,a:hover{
  text-decoration: none;
}
.main-btn{
  min-width: 160px;
  text-align: center;
  background-color: var(--color2);
  color: #fff;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: 2px solid var(--color2);
  transition: var(--transition);
  cursor: pointer;
  font-size: 16px;
}
.main-btn:hover{
  background-color: #fff;
  color: var(--color2);
}
.main-title{
  margin-bottom: 20px;
  color: var(--color2);
}
/*Navbar Style*/
.navbar{
  height: 70px;
  width: 100%;
  padding: 0 30px;
  background-color: var(--color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}
.logo{
  font-size: 14px;
  color: #d1d1d1;
}
.logo span{
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.top-links a{
  padding: 5px 10px;
  color: #d1d1d1;
  font-weight: 500;
  transition: all 0.3s;
}
.top-links a:hover{
  color: #fff;
}
.toggler{
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
  display: none;
}
.toggler div{
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
}
.toggler div:nth-child(2){
  width: 75%;
}
.toggler div:nth-child(3){
  width: 50%;
}
.toggler:hover div:nth-child(2),
.toggler:hover div:nth-child(3){
  width: 100%;
}
@media(max-width:767px){
  .top-links{
    position: fixed;
    top: 70px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 47, 59,0.9);
    z-index: 100;
    text-align: center;
    padding-top: 20px;
    transition: all 0.4s;
  }
  .top-links a{
    display: block;
    width: 150px;
    margin:0 auto 10px;
    padding: 10px;
    background-color: var(--color2);
  }
  .top-links.opened{
    right: 0;
  }
  .toggler{display: flex;}
}
/*pages*/
.home,.about,.portfolio,.contact{
  min-height: 100vh;
  padding: 90px 0;
  overflow-y: auto;
}
/*Home*/

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  color: #d1d1d1;
  position: relative;
  padding: 150px 0;
}
.home .logo{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  color: var(--color1);
  box-shadow: var(--shadow1);
  padding: 4px 15px;
  background: rgba(0,0,0,0.8);
  border-radius: 15px 15px 0 0;
  z-index: 999;
}
.home::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;  
  top: 0;
  left: 0;
  z-index: -1;
  background: url('../public/images/home-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.home .text{
  width: 50%;
  background: rgba(0,0,0,0.6);
  padding: 90px 20px 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  box-shadow: var(--shadow1);
}
.text .image{
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 50%;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  background: #444;
  box-shadow: var(--shadow1);
}
.home .text h1{
  margin-bottom: 10px;
}
.text .image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.social-links{
  margin-top: 10px;
}
.social-links a{
  margin: 10px;
  font-size: 22px;
}

/*Home responsive*/
@media(max-width:768px){
  .home .text{
    padding-top: 60px;
  }
  .home .text h1{
    font-size: 20px;
  }
  .text .image{
    width: 120px;
    height: 120px;
  }
}

/*--- Portfolio ---*/
.portfolio .items{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4,1fr);

}
@media(max-width:991px){
  .portfolio .items{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width:767px){
  .portfolio .items{
    grid-template-columns:  1fr;
  }
}
/* @media(max-width:470px){
  .portfolio .items{
    
  }
} */
/*portfolio-item*/
.portfolio-item{
  height: 250px;
  box-shadow: 0 0 10px #666;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.portfolio-item .info{
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  top: 80%;
  transition: all 0.3s;
  background-color:  var(--color2);
  color: #fff;
  direction: rtl;
}
.portfolio-item .info h3{
  padding-top: 5px;
  height: 20%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
.portfolio-item:hover .info{
  top: 0;
}
.portfolio-item .info div{
  padding: 10px;
}

.portfolio-item .info a{
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s;
}
.portfolio-item .info a:hover{
  background-color: #fff;
  color: var(--color2);
}
.portfolio-item .info div{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*About*/
.about .content{
  width: 100%;
  display: flex;

}
.about h1{
  color: var(--color2);
}
.about .content .text,.about .content .image{
  flex: 1;
}
/* .about .content .image img{
  background-image: url('../public/images/home-bg.jpg');
  background-size: cover;
  height: 80vh;
} */
.about .content .image img{
  width: 100%;
}
.skills-div{
  padding: 15px 0;
  margin-top: 15px;
}
.skills{
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.skills-div h2{
  margin-bottom: 10px;
  color: var(--color2);
}
.skills span{
  display: inline-block;
  padding: 5px 10px;
  background-color: #666;
  margin: 5px;
  color: #fff;
  border-radius: 5px;
}
.about .grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
@media (max-width:767px){
  .about .content{
    flex-direction: column;
  }
}

/*contact*/
.contact{
  position: relative;
}
.contact::before{
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../public/images/home-bg.jpg');
  background-size: cover;
  background-position: bottom;
}
.contact form{
  width: 500px;
  max-width: 90%;
  padding: 15px;
  box-shadow: 0 0 10px var(--color2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
@media (max-width:767px){
  .contact form{
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.contact form .form-group{
  margin-bottom: 15px;
}
.contact form label,.contact form input, .contact form textarea{
  display: block;
  width: 100%;
}
.contact form label{
  margin-bottom: 5px;
  color: var(--color2);
  font-size: 16px;
  font-weight: bold;
}
.contact form input, .contact form textarea{
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}
.contact form input:focus, .contact form textarea:focus{
  outline: none;
  border-color: var(--color2);
}